.seligFooter {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  justify-content: space-around;
}

.seligFooter img {
  width: 15%;
}

.seligFooter a {
  color: #fff;
  margin: 0;
  text-decoration: none;
}

.seligFooter div:nth-of-type(1) {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.seligFooter div:nth-of-type(2) {
  display: flex;
  width: 95%;
  justify-content: space-around;
}

.seligFooter div:nth-of-type(2) div:nth-of-type(1) {
  display: flex;
  width: 45%;
  font-size: 1.1em;
  flex-direction: column;
  align-items: flex-start;
}

.seligFooter div:nth-of-type(2) div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-around;
}

.seligFooter div:nth-of-type(2) div:nth-of-type(2) a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; 
  color: #333333;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  font-size: 2.8em;
  border-radius: 15px;
}

.seligFooter a span, .seligFooter p {
  color: #ffffffc2
}