.selig-footer {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  height: 40vh;
  align-items: center;
  justify-content: space-around;
}

.selig-footer img {
  width: 15%;
}

.selig-footer div:nth-of-type(1) {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}

.selig-footer div:nth-of-type(2) {
  display: flex;
  width: 95%;
  justify-content: space-around;
}

.selig-footer div:nth-of-type(2) div:nth-of-type(1) {
  display: flex;
  width: 45%;
  font-size: 1.1em;
  flex-direction: column;
  align-items: flex-start;
}

.selig-footer div:nth-of-type(2) div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-around;
}

.selig-footer div:nth-of-type(2) div:nth-of-type(2) a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000079; 
  color: #e6e6e6;
  height: 100%;
  width: 30%;
  text-align: center;
  font-size: 2.8em;
  border-radius: 15px;
}

.selig-footer p {
  color: #00000079;
  margin: 0;
}

.selig-footer p span {
  color: #000
}