.preOs {
  margin: auto;
  margin-top: 2.5em;
}

.preOsWrapper {
  width: 90%;
  height: 80vh;
  margin: auto;
  border-radius: 15px;
  background-image: url(../assets/pexels-mart-production-7709179.jpg);
  background-size: contain;
  margin-top: 1.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.preOsWrapper > div {
  height: 50%;
  width: 60vw;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.preOsWrapper > div:nth-of-type(1) {
  border-bottom: 3px rgba(50, 50, 93, 0.25) solid;
  border-radius: 15px 15px 0;
}

.preOsWrapper > div:nth-of-type(2) {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  width: 50vw;
  border-radius: 15px 0 15px 15px;
}

.meet-pre-os button {
  margin-bottom: 10%;
}

.seePreOs > p, .meetPreOs > p {
  width: 80%;
  text-align: center;
}

.seePreOs > button, .meetPreOs > button {
  background-color: #00000088;
  border-radius: 10px;
  padding: 10px;
}