.preOs {
  margin: auto;
  margin-top: 2.5em;
}

.preOsWrapper {
  display: none;
}

.homeCard {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin: 2rem 0;
}

.homeCard > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 2pc;
}

.homeCard > div > h3 {
  font-size: 1.6em;
}

.homeCard > div > button {
  padding: 1rem;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px #ad0303 solid;
}


@media (min-width: 1024px) {

  .preOsCarousel {
    display: none;
  }

  .preOsWrapper {
    width: 90%;
    height: 70vh;
    margin: auto;
    border-radius: 15px;
    /* background-size: ; */
    margin-top: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
  }
  
  .preOsWrapper > div {
    height: 50%;
    width: 60vw;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .preOsWrapper > div:nth-of-type(1) {
    border-bottom: 3px rgba(50, 50, 93, 0.25) solid;
    border-radius: 15px 15px 0;
  }
  
  .preOsWrapper > div:nth-of-type(2) {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    width: 50vw;
    border-radius: 15px 0 15px 15px;
  }
  
  .meet-pre-os button {
    margin-bottom: 10%;
  }
  
  .seePreOs > p, .meetPreOs > p {
    width: 80%;
    text-align: center;
  }
  
  .seePreOs > button, .meetPreOs > button {
    color: #fff;
    border: 3px solid #ad0303;
    background-image: -webkit-linear-gradient(30deg, #ad0303 50%, transparent 50%);
    background-image: linear-gradient(30deg, #ad0303 50%, transparent 50%);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    border-radius: 10px;
    width: 20%;
    height: 20%;
    cursor: pointer;
  }
  
  
  .seePreOs > button:hover, .meetPreOs > button:hover {
    background-position: 100%;
    color: #ad0303;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
}